---
---

body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

.navs{
    background-color: #050822;
    display: flex;
    padding: 10px 12%;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    position: fixed;
}

.navs .logo{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

.navs .link{
    display: flex;
}

.navs .link a{
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
    fill: #fff;
    padding: 0 17px;
    display: inline-block;
}

.navs .link a:hover{
    color: #c9cdeb;
    fill: #c9cdeb;
}

.dropdown .dropbtn{
    border: none;
    background-color: initial;
    color: #fff;
    transition: color 0.5s;
    fill: #fff;
    padding: 0 17px;
    display: inline-block;
    font-size: 16px;
}

.dropdown .dropbtn:hover{
    color: #c9cdeb;
    fill: #c9cdeb;
}

.dropdown .dropdown-content{
    display: none;
    position: absolute;
    background-color: #050822;
    border-radius: 10px;
    border: solid 1px rgb(100, 117, 130);
    padding: 15px;
    margin: 1px;
}

.dropdown .dropdown-content a{
    display: block;
    border-left: solid 1px #fff;
    color: #fff;
    margin-bottom: 7px;
}

.dropdown .dropdown-content a.html, .dropdown .dropdown-content a.html:hover{
    border-left: solid 1.5px rgb(255, 126, 57);
}

.dropdown .dropdown-content a.css, .dropdown .dropdown-content a.css:hover{
    border-left: solid 1.5px rgb(107, 129, 255);
}

.dropdown .dropdown-content a.javascript, .dropdown .dropdown-content a.javascript:hover{
    border-left: solid 1.5px rgb(255, 193, 6);
}

.dropdown .dropdown-content a:hover{
    color: rgb(226, 243, 250);
    border-left: solid 1.5px rgb(226, 243, 250);
}

.dropdown:hover .dropdown-content{
    display: block;
    transition: 0.5s;
}

/* footer */
footer{
    display: block;
    background-color: #000;
    padding: 100px 12%;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

footer h1{
    font-weight: 400;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
}

footer .copy{
    margin: 0;
    font-size: 12px;
}

/* Docs */
.docs{
    display: grid;
    grid-template-columns: 20% 1fr;
    padding-top: 56px;
}

.docs .scroll{
    border-right: solid 1px rgb(230, 230, 230);
}

.docs .sidebar{
    display: block;
    position: fixed;
    width: 14%;
    height: 88%;
    padding: 20px 3%;
}

.docs .sidebar p{
    margin-top: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.docs .sidebar a{
    display: block;
    color: rgb(62, 68, 87);
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
    transition: color 0.5s;
}

.docs .sidebar a:hover{
    color: rgb(0, 149, 255);
}

.docs .sidebar a.active{
    color: rgb(0, 149, 255);
}

.docs .contents{
    padding: 140px 25% 200px 10%;
}

.docs .contents h1{
    font-weight: 400;
}

.docs .contents h2{
    margin-top: 70px;
    padding-top: 30px;
    font-weight: 500;
    border-top: solid 1px #3c3c3c1f;
}

.docs .contents div.highlighter-rouge{
    padding: 10px 15px;
    background-color: #050822;
    color: rgb(248, 248, 248);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    overflow-x: scroll;
}

.docs .contents div.language-ex::before{
    content: "Example";
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(155, 174, 187);
}

.docs .contents div.language-html::before{
    content: "HTML";
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(155, 174, 187);
}

.docs .contents div.language-js::before{
    content: "JS";
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(155, 174, 187);
}

.docs .contents div.language-python::before{
    content: "python";
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: rgb(155, 174, 187);
}

// lang color
.highlighter-rouge .highlight code .k{
    color: rgb(255, 230, 0);
}
.highlighter-rouge .highlight code .p{
    color: rgb(134, 156, 185);
}
.highlighter-rouge .highlight code .nt{
    color: rgb(57, 132, 229);
}
.highlighter-rouge .highlight code .s{
    color: rgb(190, 190, 190);
}


.docs .contents img{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.docs .contents ol{
    margin-top: 20px;
    margin-bottom: 50px;
}

.docs .contents li{
    margin-bottom: 25px;
}

.docs .contents a{
    color: #3183fe;
}

.docs .contents .note{
    padding: 10px 15px;
    background-color: #d4d6e214;
    border: solid 1px #e6e6e6;
    border-radius: 10px;
    color: #000;
}

.docs .contents table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 3px solid #369;
  margin : 50px 0;
}
.docs .contents table th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}
.docs .contents table td {
  width: 349px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 13px;
}
