---
---
body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

.navs{
    background-color: #050822;
    display: flex;
    padding: 10px 12%;
    justify-content: space-between;
    align-items: center;
}

.navs .logo{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

.navs .link a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    fill: #fff;
    padding: 0 17px;
}

.navs .link a:hover{
    color: #c9cdeb;
    fill: #c9cdeb;
}

/* footer */
footer{
    display: block;
    background-color: #000;
    padding: 100px 12%;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

footer h1{
    font-weight: 400;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
}

footer .copy{
    margin: 0;
    font-size: 12px;
}
