---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WADE developer - {% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://wade.pw/assets/styles/style.css">
    <link rel="icon" href="https://wade.pw/assets/icon/favicon.ico" />
    <meta property="og:title" content="WADE developer - CodePin">
    <meta property="og:description" content="함께 만들어나가는 개발자 플랫폼, CodePin.">
    <meta name="author" content="CodePin">
    <meta name="og:site_name" content="CodePin" />
    <meta name="theme-color" content="#8695d6">
    <meta name="keywords" content="온라인 코딩, 응용 소프트웨어, 개발, 소프트웨어, codepin, 코딩, wade, wadeoss, 코드핀, html, css, js, Javascript, PHP, python, 파이썬, 자바스크립트, Tutorials, Programming, Web Development, Training, Learning, 튜토리얼, 프로그래밍, 웹, 개발, 코드 예시, Examples, Learn to code, Source code, Demos, Tips, Website, 웹앱" />
    <meta property="og:type" content="website">
</head>
<body>
    
    <!-- Navs -->
    <div class="navs">
        <a href="https://wade.pw/" class="logo">CodePin</a>
        <div class="link">
            <div class="dropdown">
                <button class="dropbtn">카테고리</button>
                <div class="dropdown-content">
                  <a href="https://wade.pw/html/introduction" class="html">HTML</a>
                  <a href="https://wade.pw/css/introduction" class="css">CSS</a>
                  <a href="https:/wade.pw/javascript/introduction" class="javascript">JavaScript</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 18"><path d="M0 0h24v24H0z" fill="none"></path><path d=" M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z "></path></svg>언어</button>
                <div class="dropdown-content">
                  <a href="https://en.wade.pw/">English</a>
                  <a href="https://wade.pw/">한국어</a>
                  <a href="https://jp.wade.pw/">日本語</a>
                </div>
            </div>
        </div>
    </div>

  <!-- Docs -->
    <div class="docs">
        <div class="scroll">
            <div class="sidebar">
                {% assign category = page.category | default: page.title %}
                 {% for post in site.categories[category] %}
                  <a href="{{ post.url }}">{{ post.title }}</a>
                {% endfor %}
            </div>
        </div>
        
        <div class="contents">
            {{ content }}
        </div>
    </div>

</body>
</html>
